.nextStep{
    background:rgb(246, 252, 252);
    
}

.nextStep-header-div{
  position: relative;
  text-align: center;
  top: 30px;
  left: 0;
}
.nextStep-header-div-first{
  font-weight: 700;
  font-size: 28px;
  color: #2C5A98;
  line-height: 28px;
}

.nextStep-header-div-sec{
  font-weight: 300;
  font-size: 28px;
  color: #2C5A98;
  line-height: 26px;
  
}

.graph{
  margin-top: 80px;
}
  .donut-chart {
    position: relative;
      width: 200px;
    height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%
   }
  p.center {
    background: white;
    position: absolute;
    text-align: center;
  font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 155px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
      
      
  .portion-block {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .circle {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
      
      
  #part1 {
      transform: rotate(30deg);
    }
  
      #part1 .circle {
          background-color:#FA8282 ;
          /*transform: rotate(76deg);*/
          animation: first 1s 1 forwards;
        }
      
      
  #part2 {
      transform: rotate(110deg);
    }
  #part2 .circle {
      background-color: #2C5A98;
      animation: second 1s 1 forwards 1s;
    }
  #part3 {
      transform: rotate(180deg);
  }
      #part3 .circle {
          background-color: #44CCA4;
          animation: third 0.5s 1 forwards 2s;
      }
      
      
  /* Animation */
  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(70deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(60deg);}
  }
      
  @keyframes third {
      from {transform: rotate(160deg);}
      to {transform: rotate(200deg);}
  }

  .buttonDiv{
      text-align: center;
  }

  .button1{
      border: none;
      margin:10px 10px;
      width:106px;
      height: 47px;
      background-color:#44CCA4;
      border-radius:7px;
      color: white;
  }
  .button2{
    border: none;
    margin:10px 10px;
    width:100px;
    height: 47px;
    background-color:#2C5A98;
    border-radius:7px;
    color: white;
}
.button3{
    border: none;
    margin:10px 10px;
    width:84px;
    height: 47px;
    background-color:#FA8282;
    border-radius:7px;
    color: white;
}

.lineDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lineDiv1{
    border: none;
    margin-top: 10px;
    width:56px;
    height: 17px;
    background-color:#44CCA4;
    border-radius:100px;
    color: white;
}
.lineDiv2{
    border: none;
    margin-top: 10px;
    width:37px;
    height: 17px;
    background-color:#2C5A98;
    border-radius:100px;
    color: white;
}
.lineDiv3{
    border: none;
    margin-top: 10px;
    width:42px;
    height: 17px;
    background-color:#FA8282;
    border-radius:100px;
    color: white;
}

.questionInfo{

}
.questionInfo-1{
    display: flex;
    margin:   10px  auto;
    align-items: center;
    height:70px;
    width: 90%;
    background-color: white;
    justify-content: space-around;
}