.report{
    background-color:rgba(255, 255, 255, 0.63);
    height: 1200px;
    width: 100%;
    position: absolute;
    top: 0;
}

.report-popup{

    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 200px;
    left: 10%;
    height: 400px;
    width: 80%;
   
}

.report-popup-inner-div{
    margin: 20px auto;
    border: 1px solid #3A72B7;
    border-radius: 10px;
    width: 230px;}


    .report-button{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .report-button-submit{
        background-color: #44CCA4;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        width: 70px;
        height: 30px;
        color: white;
        border: none;
    }
    .report-button-cancel{
        background-color: #FA8282;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700;
        width: 70px;
        height: 30px;
        color: white;
        border: none;
    }

    .report-issue-input{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }