.popup{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 60px;
    left: 190px;
    width: 150px;
    box-shadow:1px 1px 5px rgb(218, 216, 216);
    height: 82px;
    
}