.bottom-icon{
    border: 2px solid #3A72B7;
    width: 45px;
    height: 45px;
    border-radius: 55%;
    background-color:rgb(246, 252, 252);
    
}

@media (max-width:768px) {
    .bottom-icon{
        position: absolute;
    top:720px;
    }
}